.quest-list {
    flex: 3;
    display :inline;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.quest-item {
    width: 95%;
    background-color: #fff;
    border: 1px solid #eaeaea;
    padding-left: 10px;
    padding-right: 0px;
    border-radius: 10px;
}

.quest-item h3 {
    font-size: 15px;
    margin: 0 0 10px;
}

.quest-item p {
    font-size: 12px;
    color: #555;
    margin: 0 0 10px;
}

.skills {
    margin: 10px 0;
}

.skill {
    display: inline-block;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.team {
    display: flex;
    flex-wrap: wrap;
}

.team-member {
    margin-right: 10px;
    text-align: center;
}

.team-member img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 12px;
    margin: 0;
    color: #333;
}
