.sidebar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f9f9;
    border-left: 1px solid #eaeaea;
    border-radius: 10px;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.sidebar button {
    background: grey;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    z-index: 1;
}

.sidebar button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.sidebar button.prev {
    border-radius: 10px;
    left: 0px;
}

.sidebar button.next {
    border-radius: 10px;
    right: 2px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.sidebar-container {
   width: 18%;
   top: -70px;
   position: relative;
}
.sidebar h5 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #888686;
    align-self: flex-start;
}