.sidebar-item {
    text-align: left;
    margin: 5px 0;
}

.sidebar-item img {
    width: 100%;
    max-width: 370px;
    border-radius: 10px;
}

.sidebar-item h3 {
    font-size: 15px;
    margin: 10px 0;
    color: #333;
}

.sidebar-item p {
    font-size: 11px;
    color: #555;
}
