.sidebar-item {
    text-align: center;
    margin: 10px 0;
}

.sidebar-item img {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
}

.sidebar-item h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.sidebar-item p {
    font-size: 14px;
    color: #555;
}
